# Configuración de la Base de Datos PostgreSQL
# Usuario de tu base de datos
DB_USER="postgres"
# Contraseña de tu usuario de la base de datos
DB_PASSWORD="tu_password_secreta"
# Nombre de la base de datos que creaste
DB_NAME="streaming_db"
# Dirección del servidor de la base de datos (localhost si está en tu misma PC)
DB_HOST="localhost"

# Secreto para firmar los JSON Web Tokens (JWT)
# Debe ser una cadena de texto larga y aleatoria.
JWT_SECRET="una_clave_muy_larga_y_segura_para_proteger_los_tokens"

# Directorio para almacenar los videos subidos
UPLOAD_DIR="./uploads"
